<ion-header>
  <ion-toolbar>
    <ion-title>
      Current Weather
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Enter City Name</ion-label>
    <ion-input [(ngModel)]="cityName" name="cityName" type="text"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="getWeather()">Get Weather</ion-button>
  <div *ngIf="weather">
    <ion-card>
      <ion-card-header>
        Current Weather
      </ion-card-header>
      <ion-card-content>
        <ion-icon [name]="weather.icon"></ion-icon>
        <p>{{ weather.description }}</p>
        <p>Temperature: {{ weather.temperature }}°C</p>
      </ion-card-content>
    </ion-card>
  </div>
  
</ion-content>
