<ion-header>
  <ion-toolbar>
    <ion-title>
      Forecast
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Enter City Name</ion-label>
    <ion-input [(ngModel)]="cityName" name="cityName" type="text"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="getForecast()">Get Forecast</ion-button>

  <div *ngIf="forecast">
    <ion-card *ngFor="let daily of forecast">
      <ion-card-header>
        Forecast for {{ daily.date | date: 'dd/MM/yyyy' }}
      </ion-card-header>
      <ion-card-content>
        <ion-icon [name]="daily.weatherIcon" class="weather-icon"></ion-icon>
        <p>
          <ion-icon name="thermometer-outline" class="temperature-icon"></ion-icon>
          Temperature: {{ daily.temperature }}°C
          <ion-icon [name]="daily.rainIcon" class="rain-icon"></ion-icon>
        </p>
        <p>{{ daily.description }}</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>







